<html>
  <head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/ques.css' %}" />
    <script src="{% static 'javascript/user.js' %}" type="text/javascript"></script>
  </head>

  <body>
    <div id="result">
      <h1 class="h1"><b>Let's Play The Quiz Buddy</b></h1>
      {% for i in quiz %}
      <table>
        <tr>
          <td class="text-primary">{{i.id}} ) {{i.question1}} ?</td>
        </tr>
        <tr>
          <td>
            <input
              type="radio"
              class="rb"
              name="{{i.id}}"
              id="{{i.id}}option1"
              value="{{i.option1}}"
            />{{i.option1}}
          </td>
        </tr>
        <tr>
          <td>
            <input
              type="radio"
              class="rb"
              name="{{i.id}}"
              id="{{i.id}}option2"
              value="{{i.option2}}"
            />{{i.option2}}
          </td>
        </tr>
      </table>
      <hr />

      {% endfor %}
      <input
        type="button"
        onclick="getCorrectAns()"
        class="btn btn-primary"
        id="subbtn"
        value="submit"
      />
    </div>


    <div id="score">
    </div>

    
  </body>
</html>
