<html>
<head>
{% load static %}
<link rel="stylesheet" href="{% static 'css/ques.css' %}" />
</head>
<body>
  <h1 class="h1"><b>Let's Play The Quiz Buddy</b></h1>
<form method="POST" action="/results/">
  {% csrf_token %}
    <div>
        {% for i in  quiz %}
        <table>
            <tr>
                <td class="text-primary">{{i.id}} ) {{i.question1}} ?</td>
            </tr>
            <tr>
                <td><input type = "radio" class="rb" name = {{i.id}} id="option1" value="{{i.option1}}">{{i.option1}}</td>
            </tr>
            <tr>
                <td><input type = "radio" class="rb" name = {{i.id}} id="option2" value="{{i.option2}}">{{i.option2}}</td>
            </tr>
        </table>
<hr>

        {% endfor %}
        <button type="submit" class="btn btn-primary" ><b>Submit</b></button>
</div> 
  </form>
  </body>
  </html>